<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">

  <parameter name="titleExpected" value="The Internet"/>
  <parameter name="ablink" value="https://the-internet.herokuapp.com/abtest"/>
  <parameter name="checkboxlink" value="https://the-internet.herokuapp.com/checkboxes"/>
  <test name="allHerokuTests">
    <classes>
      <class name="com.mine.springdemo.heroku.HerokuMainPageTest"/>
    </classes>
  </test> 

  <parameter name="formauthlink" value="https://the-internet.herokuapp.com/login"/>
  <parameter name="formLoggednLink" value="https://the-internet.herokuapp.com/secure"/>
  <parameter name="username" value="tomsmith"/>
  <parameter name="passwd" value="SuperSecretPassword!"/>
  <test name="insideTests">
    <classes>
      <class name="com.mine.springdemo.heroku.FormAuthenticationTest"/>
    </classes>
  </test> 
  
</suite> 
